$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 2.5,
  5: $spacer * 3,
);

/* -------------------------fontSize------------------------- */
.fs {
  &-s {
    font-weight: 500;
  }

  &-m {
    font-weight: 600;
  }

  &-l {
    font-weight: 700;
  }
}

/* -------------------------margin------------------------- */
.m {
  &t-0 {
    margin-top: 0 !important;
  }
  &b-0 {
    margin-bottom: 0 !important;
  }
  &l-0 {
    margin-left: 0 !important;
  }
  &r-0 {
    margin-right: 0 !important;
  }

  &t-2 {
    margin-top: ($spacer * 0.5) !important;
  }
  &b-2 {
    margin-bottom: ($spacer * 0.5) !important;
  }
  &l-2 {
    margin-left: ($spacer * 0.5) !important;
  }
  &r-2 {
    margin-right: ($spacer * 0.5) !important;
  }

  &t-3 {
    margin-top: ($spacer) !important;
  }
  &b-3 {
    margin-bottom: ($spacer) !important;
  }
  &l-3 {
    margin-left: ($spacer) !important;
  }
  &r-3 {
    margin-right: ($spacer) !important;
  }

  &t-4 {
    margin-top: ($spacer * 2.5) !important;
  }
  &b-4 {
    margin-bottom: ($spacer * 2.5) !important;
  }
  &l-4 {
    margin-left: ($spacer * 2.5) !important;
  }
  &r-4 {
    margin-right: ($spacer * 2.5) !important;
  }

  &t-5 {
    margin-top: ($spacer * 3) !important;
  }
  &b-5 {
    margin-bottom: ($spacer * 3) !important;
  }
  &l-5 {
    margin-left: ($spacer * 3) !important;
  }
  &r-5 {
    margin-right: ($spacer * 3) !important;
  }
/* -------------------------margin-x------------------------- */
  &x-1 {
    margin-left: ($spacer * 0.25) !important;
    margin-right: ($spacer * 0.25) !important;
  }

  &x-2 {
    margin-left: ($spacer * 0.5) !important;
    margin-right: ($spacer * 0.5) !important;
  }

  &x-3 {
    margin-left: ($spacer) !important;
    margin-right: ($spacer) !important;
  }

  &x-4 {
    margin-left: ($spacer * 2.5) !important;
    margin-right: ($spacer * 2.5) !important;
  }

  &x-5 {
    margin-left: ($spacer * 3) !important;
    margin-right: ($spacer * 3) !important;
  }
/* -------------------------margin-y------------------------- */
  &y-1 {
    margin-top: ($spacer * 0.25) !important;
    margin-bottom: ($spacer * 0.25) !important;
  }

  &y-2 {
    margin-top: ($spacer * 0.5) !important;
    margin-bottom: ($spacer * 0.5) !important;
  }

  &y-3 {
    margin-top: ($spacer) !important;
    margin-bottom: ($spacer) !important;
  }

  &y-4 {
    margin-top: ($spacer * 2.5) !important;
    margin-bottom: ($spacer * 2.5) !important;
  }

  &y-5 {
    margin-top: ($spacer * 3) !important;
    margin-bottom: ($spacer * 3) !important;
  }
}

/* -------------------------padding------------------------- */
.p {
  &t-0 {
    padding-top: 0 !important;
  }
  &b-0 {
    padding-bottom: 0 !important;
  }
  &l-0 {
    padding-left: 0 !important;
  }
  &r-0 {
    padding-right: 0 !important;
  }

  &t-2 {
    padding-top: ($spacer * 0.5) !important;
  }
  &b-2 {
    padding-bottom: ($spacer * 0.5) !important;
  }
  &l-2 {
    padding-left: ($spacer * 0.5) !important;
  }
  &r-2 {
    padding-right: ($spacer * 0.5) !important;
  }

  &t-3 {
    padding-top: ($spacer) !important;
  }
  &b-3 {
    padding-bottom: ($spacer) !important;
  }
  &l-3 {
    padding-left: ($spacer) !important;
  }
  &r-3 {
    padding-right: ($spacer) !important;
  }

  &t-4 {
    padding-top: ($spacer * 2.5) !important;
  }
  &b-4 {
    padding-bottom: ($spacer * 2.5) !important;
  }
  &l-4 {
    padding-left: ($spacer * 2.5) !important;
  }
  &r-4 {
    padding-right: ($spacer * 2.5) !important;
  }

  &t-5 {
    padding-top: ($spacer * 3) !important;
  }
  &b-5 {
    padding-bottom: ($spacer * 3) !important;
  }
  &l-5 {
    padding-left: ($spacer * 3) !important;
  }
  &r-5 {
    padding-right: ($spacer * 3) !important;
  }

/* -------------------------padding-x------------------------- */
  &x-1 {
    padding-left: ($spacer * 0.25) !important;
    padding-right: ($spacer * 0.25) !important;
  }

  &x-2 {
    padding-left: ($spacer * 0.5) !important;
    padding-right: ($spacer * 0.5) !important;
  }

  &x-3 {
    padding-left: ($spacer) !important;
    padding-right: ($spacer) !important;
  }

  &x-4 {
    padding-left: ($spacer * 2.5) !important;
    padding-right: ($spacer * 2.5) !important;
  }

  &x-5 {
    padding-left: ($spacer * 3) !important;
    padding-right: ($spacer * 3) !important;
  }

/* -------------------------padding-y------------------------- */
  &y-1 {
    padding-top: ($spacer * 0.25) !important;
    padding-bottom: ($spacer * 0.25) !important;
  }

  &y-2 {
    padding-top: ($spacer * 0.5) !important;
    padding-bottom: ($spacer * 0.5) !important;
  }

  &y-3 {
    padding-top: ($spacer) !important;
    padding-bottom: ($spacer) !important;
  }

  &y-4 {
    padding-top: ($spacer * 2.5) !important;
    padding-bottom: ($spacer * 2.5) !important;
  }

  &y-5 {
    padding-top: ($spacer * 3) !important;
    padding-bottom: ($spacer * 3) !important;
  }
}
