.home {
	display: flex;
	height: 100%;
	width: 100%;
	background-color: #f6f6f6;

	&__body {
		flex: 1;
		padding: 20px;
		overflow: auto;

		.dspui-breadcrumb {
			margin-bottom: 12px;
		}
	}

	&--welcome {
		padding: 0;

		.home__body {
			padding: 0;
			&__wrapper {
				margin: 0;
			}
		}
	}
}
