.regionSiteCompanyTreeSelect {
	width: 100%;
	position: relative;

	&__select {
		width: 100%;
		z-index: 10;

		.ant-select-selection-overflow {
			padding: 4px 0;
			gap: 4px;
		}
	}

	&__treeSelect {
		width: 100%;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		opacity: 0;
		&__pop {
			.ant-select-tree {
				&-list-holder {
					max-height: 50vh !important;
				}
				&-icon__customize {
					position: relative;
				}
			}

			&__search {
				margin: 0 4px 8px;
				display: flex;
				align-items: center;
				gap: 8px;

				// 修正 input 顏色，避免 form error 時，把元件染紅
				.ant-input {
					&-affix-wrapper {
						border-color: #a0a0a0 !important;
					}
					&-prefix {
						color: rgba(0, 0, 0, 0.88) !important;
					}
				}
			}
		}
	}
}

.treeSelect__icon {
	font-size: 10px;
	border: 1px solid #999;
	border-radius: 45%;
	padding: 2px;
	right: 6px;
	top: 4px;
	position: absolute;

	&--region {
		color: #08979c;
		border-color: #87e8de;
		background: #e6fffb;
	}

	&--site {
		color: #0958d9;
		border-color: #91caff;
		background: #e6f4ff;
	}

	&--company {
		color: #d4380d;
		border-color: #ffbb96;
		background: #fff2e8;
	}
}
