.formulaInput {
	display: flex;
	gap: 8px;
	align-items: center;

	&__container {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		border: 1px solid #a0a0a0;
		border-radius: 6px;
		overflow: hidden;
		min-height: 30px;
		box-sizing: border-box;
		padding: 4px 11px;
		flex: 1;
		transition: all 0.2s linear;
		cursor: pointer;

		&:hover {
			border: 1px solid #7c63d4;
		}

		&__input-wrapper {
			width: 4px;
			margin-right: 4px;

			&__input {
				flex: 1;
				border: none;
				outline: none;
				background-color: transparent;
				font-size: 14px;
				line-height: 20px;
				color: #000;
				min-height: 20px;
				padding: 0;
				box-sizing: border-box;
				width: 100%;
				height: 100%;
			}
		}

		&__input-tag {
			display: flex;
			align-items: center;
			gap: 4px;
			border-radius: 4px;
			font-size: 14px;
			line-height: 20px;
			height: 20px;
			margin-right: 4px;

			&--option {
				padding: 4px 8px;
				background-color: #7c63d4;
				color: #fff;
			}

			&--operator {
			}
		}
	}
}

.ant-form-item-has-error {
	.formulaInput__container {
		border: 1px solid #d63333;
		&:hover {
			border: 1px solid #f08d86;
		}
	}
}
