{
	"extends": ["airbnb", "prettier"],
	"plugins": ["prettier"],
	"parserOptions": {
		"ecmaVersion": 2020
	},
	"rules": {
		"indent": ["error", "tab", { "SwitchCase": 1 }],
		"no-tabs": "off",
		"comma-dangle": "off",
		"max-len": ["error", { "code": 140 }],
		"no-console": ["warn", { "allow": ["warn", "error", "info"] }],
		"linebreak-style": ["off", "windows"],
		"implicit-arrow-linebreak": "off",
		"operator-linebreak": "off",
		"prettier/prettier": "error",
		"arrow-parens": "off",
		"object-curly-newline": "off",
		"react/jsx-indent": [2, "tab"],
		"react/jsx-indent-props": [2, "tab"],
		"react/button-has-type": "off",
		"react/jsx-wrap-multilines": "off",
		"react/jsx-props-no-spreading": "off",
		"react/jsx-curly-newline": "off",
		"jsx-a11y/no-static-element-interactions": "off",
		"jsx-a11y/click-events-have-key-events": "off",
		"jsx-a11y/no-noninteractive-element-interactions": "off"
	},
	"env": {
		"jest": true,
		"browser": true,
		"node": true
	}
}
