.dspui-horizontalTable {
	width: 100%;
	max-width: 100%;
	overflow: auto;

	&__table {
		width: 100%;
		border-spacing: 0;
		border: 1px solid #d9d9d9;
		border-left: none;

		td {
			padding: 4px 12px;
			background: white;
			border-bottom: 1px solid #d9d9d9;
		}

		&__row {
			&:last-child {
				td {
					border-bottom: none;
				}
			}

			&__title {
				border-left: 1px solid #d9d9d9;
				border-right: 1px solid #d9d9d9;
				z-index: 1;
				word-break: keep-all;
				font-weight: bold;
				position: sticky;
				left: 0;
				text-align: center;
			}
		}
	}
}
